input{
    background-color: darkgray;
    height: 1em;
    padding: 0.8em;
    width : 60%;
    border-radius: 10em;
}

.search{
    display: inline-block;
    background-color: darkgray;
    height: 1em;
    padding: 1.0em;
    font-size: 1em;
    text-align: center;
    width : 6%;
    text-align: center;
    border-radius: 5em;
    text-align: center;
    cursor: pointer;
}

.login{
    background-color: rgb(186, 157, 212);
    height: 1em;
    padding: 1.0em;
    font-size: 1em;
    text-align: center;
    width : 6%;
    text-align: center;
    border-radius: 5em;
    text-align: center;
    cursor: pointer;
}