<div class="header" style="background-color: black">
<h2 style="color: cornsilk">CinemaGeek</h2>
  <input type="text" value="" placeholder="Search">
<button class="search" type="button">Search</button>
<button class="login" routerLink ='/cinemageek/login-page'>LogIn</button>
</div>
<div>
  <h2> Movies </h2>
  <a href="/cinemageek/login-page/book_ticket">
    <img src="assets/Images/super-30.png">
    <h3>Super 30</h3> 
    <img src="assets/Images/fast-furious.png">
    <h3>Fast & Furious</h3>
  </a>
</div> 